@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Rajdhani");
@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

.rah-input-wrapper {
  color: #eee;
  width: 50%;
  display: inline-block;
}
.app {

} 

.placeholder {
  display: inline-block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes movebg {
  0% {
    background-position: 0px 1px 0px 1px;
  } 
  50% {
    background-position: 0px 11px 0px 11px;
  } 
  100% {
    background-position: 0px 0px 0px 0px;
  }
}

@keyframes pulse {
  0% {
    fill: #999;
  } 
  50% {
    fill: #e68183;
  } 
  100% {
    fill: #999;
  }
}


.date-box {

}

.gg-arrow-down {
  display: inline;
  margin-left: -1em;
  margin-bottom: 1em;
  transition: left 0.75s ease-in-out;
}

.gg-pin-alt {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 2px;
    height: 8px;
    border-radius: 3px;
    transition: left 0.1s ease-out;
    transform: scale(var(--ggs,1));
    background: currentColor;
    z-index: 1;
}

.gg-pin-alt::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 6px double;
    border-radius: 100px;
    top: -10px;
    left: -5px
}

.timespan {
  transition: width 0.3s ease-in-out;
} 

.timebar {
  height: 12px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 2px;
  width: 100%;
  background-color: #ccc;
}

.timebar-buttons {
  display: inline-block;
}

.timebar-entry {

  will-change: left, width;

  position: relative;
  margin-bottom: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #ff0000;

  /* transition: left 0.5s, width 0.5s; */




}

.timebar-entry:hover {
  background-color: #fff;
}

.entry-time {
  font-size: 18px;
}

.sector {
}

.log-date {
  display: inline-block;
}

body {
  background-color: #2a363b;
  color: #bbb;
  /* font: 0.75em "Didact Gothic", sans-serif; */
  font: 12px 'Work Sans', sans-serif;
  animation: movebg 8s;
  background-image: url("bg.svg"), url("bg.svg"); 
  background-repeat: repeat, repeat;
  background-position: 0px 1px 0px 1px;
  background-blend-mode: difference;

  overflow: hidden;
}

h3 {
  font-size: 12px;
}

.tasks-banner {
  margin-left: 25%;
  font-size: 40px;
  font-family: 'Viga', sans-serif;
}

hr {
  border-top: 1px solid #999;
  border-bottom: 1px solid #31434A;
  border-left: 0;
  border-right: 0;
  margin-left: 7px;
}

ul {
  list-style-type: none;
  list-style: none;
  display: inline-block;
}

.text-bar {
  grid-column: 2 span 6;
}

li {
  display: inline-block;
  
}

.list-container {
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
  /*grid-template-rows: repeat(30, 1fr); */
  grid-template-columns: repeat(16, 1fr);
  /* grid-column-gap: 1em; */
  grid-row-gap: 0.25em;
  grid-auto-rows: min-content;

  /* height: 100vh; */
}

.test-timebar-container {
  margin: 10%;
  display: grid;
 
  height: 100vh;

  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;

}

.new-list-container {
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
 
  grid-template-areas: 
    "head head head head head head head head"
    "entry entry entry entry entry entry entry entry" 
    "footer footer footer footer footer footer footer footer"; 

  height: 100vh;

  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
}

.task-container {
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
}

.taskEntry {
  display: inline-flex;
  width: 100%;
  animation: fadein 1.3s;
}

.taskEntry:hover {
  background: #323d42;
}

.taskEntry > * {
  padding: 1px 4px 1px 4px;
}

.task-header {
  grid-column: 1/-1;
}

.task-project {
  background: #D7FC0A;
  color: black;
  border-radius: 3px;
  grid-auto-columns: min-content;
  justify-self: center;
  width: 100%;
  overflow: hidden;
}

/*
.task-name {
  grid-column: span 5;
}
*/

h1 {
  font: 2em "Didact Gothic", sans-serif;
}

.bar-graph-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(64, 1fr);
  grid-row-gap: 0.10em;
  grid-column-gap: 1em;
  margin-left: 1px;

  position: relative;

  height: 20vh;
}

.bar {
  height: 80%;
  max-height: 0;
  width: 12px;
  background: rgb(196, 97, 95);
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0;
  transition: max-height 2s ease-in-out;
  border-radius: 2px;
}

.bar:hover {
  background: rgb(196, 77, 75);
}


.bar-label {
  font-size: 10px;
  position: absolute;
  bottom: -20px;
  left: -1px;
}

.bar > i {
  font-size: 12px;
  position: absolute;
  top: -20px;
  color: rgb(196, 97, 95);
}

.graph-title {
  margin-top: 24px;
  margin-left: 28px;
  margin-right: 28px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12px, 1fr) );
  grid-auto-rows: 12px;
  height: 84px;
  max-height: 84px;
  margin-left: 28px;
  margin-right: 28px; 
}

.grid-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-box {
  background: rgba(0, 96, 164, 0.3);
  border-radius: 2px;
  overflow: hidden;
}

.grid-box:hover {
  background: rgba(0, 96, 164, 0.7);
}


.speech-bubble { 
  position: relative;
  display: inline-block;
  background: rgb(196, 97, 95);
  border-radius: .4em; 
  padding: 4px; 
  max-width: 300px;
  min-height: 1em;
  min-width:  10em;
  text-align: center;
} 

.speech-bubble:after { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  width: 0; 
  height: 0; 
  border: 3px solid transparent; 
  border-bottom-color: rgb(196, 97, 95);
  border-top: 0; 
  margin-left: -3px; 
  margin-top: -3px; 
}

#header {
  grid-area: head;
}

.input-icon {
  color: #2BEDC5;
  font-size: 20px;
  position: relative;
  vertical-align: text-top;
}

.cli-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  color: #f8e8f8;
}

.new-cli-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 10fr;
  width: 100%;
  color: #f8e8f8;
  white-space: nowrap;
}

.cli {
  display: inline-block;
}

.log-form {
  display: inline-flex;
}

.log-button {
  width: 2em;
}

.sector-input-wrapper {
  color: #fff1cb;
}

.log-description {
  height: 16px;
}

.hint-list {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  letter-spacing: 1px;
  font-size: 11px;
  color: #fff;
  background-color: #757c56;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  margin-top: -50%;
  box-shadow: 2px 2px #869d6d;
  font-weight: 300;
  /* border: 1px solid $color-green; */
}

/*
.hint-list:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-stroke: 0.5px $color-green; 
  -webkit-text-fill-color: $color-beige;
  border: 1px solid $color-green; 
  text-shadow: 22px 22px $color-blue;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: $color-beige;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px $color-blue;
  z-index: -2;
}
*/

.hint-input-wrapper {
  height: 16px;
}

.hint-list-item {
  
}

.hint-list-item-selected {
  background-color: #869d6d;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}


/*
.sector-input-wrapper:focus {
  background-color: #7b9fad;
}
*/

.sector {
  vertical-align: middle;
  font-size: 18px;
  color: #B8685A;
  margin: 0px 6px 0px 6px;
}

.bg-blip {
  animation: pulse 3s ease-in-out infinite;
}

.sector-input {
  color: #fff1cb;
}

.time-spent-wrapper {
  width: 12em;
  display: inline-block;
}

.time-spent-wrapper:focus {
  background-color: #7b9fad;
  color: #fff1cb;
}

.new-cli-wrapper > i {
  vertical-align: middle;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.cli-input {
  display: inline-block;
  height: 0.5em;
  background: rgba(50, 64, 82, 0.5);
  padding: 0.5em;
  max-width: 100%;
  animation: fade 0.75s ease-in-out;
}

.log-button {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  padding: 0.5em;
  background: rgba(50, 185, 82, 0.7);
  animation: fade 0.75s ease-in-out;
}

.form-success {
  background: rgba(50, 255, 82, 0.7);
  animation: fade 1s ease-in-out;
  width: 100%;
}

.tick-line {
  width: 100%;
  position: relative;
}

.tick-mark {
  border-left: 1px solid #ccc;
  height: 8px;
  position: absolute;
}

tick-mark:nth-child(1) {
  left: 0%;
}
.tick-mark:nth-child(2) {
  left: 16.666%;
}
.tick-mark:nth-child(3) {
  left: 33.333%;
}
.tick-mark:nth-child(4) {
  left: 50%;
}
.tick-mark:nth-child(5) {
  left: 66.666%;  
}
.tick-mark:nth-child(6) {
  left: 83.333%;
}
.tick-mark:nth-child(7) {
  left: 100%;
}

input {
  outline: none;
  border-radius: 2px;
  background-color: #455961;
}

input:focus {
  outline: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.unstyle {
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.spin {
  -webkit-animation:spin 4s linear infinite, fadeout 4s;
  -moz-animation: spin 4s linear infinite, fadeout 4s;
  animation: spin 4s linear infinite, fadeout 4s;
}

.mon {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  -webkit-animation:spin 4s linear infinite, fadeout 4s;
  -moz-animation: spin 4s linear infinite, fadeout 4s;
  animation: spin 4s linear infinite, fadeout 4s;
}

.faded {
  opacity: 0.25;
  animation: fade-into-bg 0.3s linear;
}

@keyframes fade-into-bg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@keyframes fade {
  from {
    background: rgba(50, 64, 82, 0);
  }
  40% {
    background: rgba(50, 64, 82, 0.75);
  }
  to {
    background: rgba(50, 64, 82, 0.5);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
